/*Text Styling */

body, h1, h2, h3, h4, h5, h6, p{
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  /*padding-top: 20px;*/
}

h3 {
  font-size: 20px;
}

/* Navbar Styling */

.sticky {
  width: 100%;
}

.top-bar {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #efefef;
}

.top-bar, .top-bar ul {
  background-color: white;
}

/* Links */

nav .top-bar-title a, nav li a {
    color: #1E1F1E;
}

nav li a:hover {
  color: #FF8B61;
}

.menu .active a {
  background-color: #FF8B61;
}

/*Side Bar Menu*/

ul {
  list-style-type: none;
}

ul.sidebar li a {
  color: #FF8B61;
}

/* Row Styling */

.row {
  padding-top: 85px;
  margin-top: -60px;
  padding-bottom: 10px;
}

div.medium-3.columns.border-right, div.medium-3.columns {
    padding-right: 20px;
    padding-left: 20px;
}

div .border-right {
    border-right: solid;
    border-width: 1px;
    border-color: #FF8B61;
}

/* Button Styling */

.button {
  background-color: white;
  color: #1E1F1E;
  border: solid;
  border-width: 2px;
  border-color: #FF8B61;
}

.button:hover {
  background-color: #FF8B61;
}

img{
padding-bottom: 15px;
}

p {
  width: 100%;
  background-image: url("/Users/sarahkasiske/Desktop/fur-me/assets/img/star.png");
  background-repeat: no-repeat;
}
