body, h1, h2, h3, h4, h5, h6, p{
  font-family: 'Heebo', sans-serif;
}

/*Navbar Styling*/

nav .top-bar-title a {
    color: #1E1F1E;
}

nav li a {
  color: #1E1F1E;
}

nav li a:hover {
  color: #FF8B61;
}

.menu .active a {
  background-color: #FF8B61;
}

.sticky {
  width: 100%;
}

.top-bar, .top-bar ul {
  background-color: white;
}

.top-bar {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #efefef;
}
